<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!--suppress RequiredAttributes, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud - Orders</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Taco Cloud</h1>
<img th:src="@{/images/TacoCloud.png}" alt="TacoCloud image"/>
<div>
    <h2>Orders for:
        <i><span th:text="${user.fullName}">FULLNAME</span></i>
        (Username: <i><span th:text="${user.username}">USERNAME</span></i>)
    </h2>
</div>

<div id="order_table">
    <table>
        <thead>
        <tr>
            <td>Placed at</td>
            <td>Delivery to</td>
            <td>Street</td>
            <td>City</td>
            <td>State</td>
            <td>ZIP code</td>
            <td>Number of tacos</td>
            <td>Tacos</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.placedAt}">PLACEDAT</td>
            <td th:text="${order.deliveryName}">DELNAME</td>
            <td th:text="${order.deliveryStreet}">DELSTREET</td>
            <td th:text="${order.deliveryCity}">DELCITY</td>
            <td th:text="${order.deliveryState}">DELSTATE</td>
            <td th:text="${order.deliveryZip}">DELZIP</td>
            <td th:text="${order.numberOfTacos}">TACOCOUNT</td>
            <td>
                <ol>
                    <li th:each="taco : ${order.tacos}">
                        <span th:text="${taco.name}"/>
                        <ul>
                            <li th:each="ingredient : ${taco.ingredients}">
                                <span th:text="${ingredient.name}"/>
                            </li>
                        </ul>
                    </li>
                </ol>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>