<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!--suppress RequiredAttributes -->
<html
        xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}" alt="TacoCloud image"/>
<form method="POST" th:action="@{/register}" id="registerForm">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td><label for="confirm">Confirmation:</label></td>
            <td><input type="password" name="confirm" id="confirm"></td>
        </tr>
        <tr>
            <td><label for="fullname">Name:</label></td>
            <td><input type="text" name="fullname" id="fullname"></td>
        </tr>
        <tr>
            <td><label for="street">Street:</label></td>
            <td><input type="text" name="street" id="street"></td>
        </tr>
        <tr>
            <td><label for="city">City:</label></td>
            <td><input type="text" name="city" id="city"></td>
        </tr>
        <tr>
            <td><label for="state">State:</label></td>
            <td><input type="text" name="state" id="state"></td>
        </tr>
        <tr>
            <td><label for="zip">ZIP:</label></td>
            <td><input type="text" name="zip" id="zip"></td>
        </tr>
        <tr>
            <td><label for="phoneNumber">Phone:</label></td>
            <td><input type="text" name="phoneNumber" id="phoneNumber"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</form>
</body>
</html>