<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!--suppress RequiredAttributes -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Login</h1>
<img th:src="@{/images/TacoCloud.png}" alt="Taco Cloud image"/>

<div th:if="${error}">
    <span class="validationError">
    Unable to login. Check your username and password!
    </span>
</div>

<p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

<!-- tag::thAction[] -->
<form method="post" th:action="@{/authenticate}" id="loginForm">
    <!-- end:thAction[] -->
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Login">
</form>

</body>
</html>